@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Outfit:wght@400;500;600;700;800&display=swap');

@theme {
  --color-surface: #0f172a;
  --color-on-surface: #f8fafc;
  --color-primary: #6366f1;
  --color-primary-container: #9333ea;
  --color-on-primary: #ffffff;
  --color-on-surface-variant: #94a3b8;
  --color-surface-container-lowest: #162137;
  --color-outline: #64748b;
  --color-surface-container-low: #1e293b;
  --color-tertiary-container: #a855f7;
  --color-outline-variant: #94a3b8;

  --font-headline: 'Outfit', sans-serif;
  --font-body: 'Inter', sans-serif;
  --font-label: 'Inter', sans-serif;
  --font-sans: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #09090b;
    --primary: #8b5cf6;
    --primary-foreground: #ffffff;
    --muted: #f4f4f5;
    --muted-foreground: #71717a;
    --border: #e4e4e7;
  }
  .dark {
    --background: #050505;
    --foreground: #fafafa;
    --primary: #6366f1;
    --primary-foreground: #ffffff;
    --muted: #111111;
    --muted-foreground: #a1a1aa;
    --border: #27272a;
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: 'Inter', sans-serif;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Outfit', sans-serif;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .custom-scroll::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .custom-scroll::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scroll::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
  }
  .custom-scroll::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.15);
  }
  .cursor-zoom-in {
    cursor: zoom-in;
  }
}
